* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
}

.modal-login {
    position: absolute;
    width: 1280px;
    height: 1603px;
    left: 0px;
    top: 0px;

    position: absolute;
    width: 1285px;
    height: 1631px;
    top: 0px;
    left: 7px;

    background: rgba(0, 0, 0, 0.71);

}
legend{
position: absolute;
width: 1040px;
height: 500px;
left: 123px;
top: 184px;

background: #E6E5E5;
border-radius: 31px;
}

.caixa-login{
position: absolute;
width: 89px;
height: 45px;
left: 596px;
top: 217px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 125.9%;
/* or 45px */


color: #000000;
}

.E-mail {
    position: absolute;
    width: 834px;
    height: 100px;
    /* left: 0px; */
    top: 1px;
}

.email {
    position: absolute;
    /* width: 0px; */
    height: 30px;
    left: 80px;
    top: 100px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;

    color: #000000;
}

.logar {
    position: absolute;
    /* width: 67px; */
    height: 30px;
    left: 80px;
    top: 220px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30ox;

    color: #000;
}

.senha {
    position:absolute;
    width: 835px;
    height: 100px;
    left: 0px;
    top: 20px;

}

.input-email {
    display: block;
    border-radius: 10px;
    
    position: absolute;
    width: 834px;
    height: 65px;
    left: 80px;
    top: 140px;
    border: #FFFFFF;
}

.E-mail input {
    width: 857px;
    outline: none;
    font-size: 1.7rem;
    padding: 1rem 1.5rem;
}

.input-senha {
    display: block;
    border-radius: 10px;
    position: absolute;
    width: 834px;
    height: 65px;
    left: 80px;
    top: 259px;

    border: #FFFFFF;

}

.senha input {
    width: 857px;
    outline: none;
    font-size: 1.7rem;
    padding: 1rem 1.5rem;
}

.sair {
    position: absolute;
    left: 28.12%;
    right: 28.12%;
    top: 28.12%;
    bottom: 28.12%;

}

.cancelamento{
position: absolute;
width: 194px;
height: 65px;
left: 649px;
top: 565px;

box-sizing: border-box;

position: absolute;
width: 194px;
height: 65px;
left: 649px;
top: 565px;

border: 1px solid #000000;
border-radius: 10px;
}

.entrar{
position: absolute;
width: 194px;
height: 65px;
left: 863px;
top: 565px;

box-sizing: border-box;

background: #161616;
border: 1px solid #000000;
border-radius: 10px;

}

.cancelamento p{
position: absolute;
width: 194px;
height: 30px;
left: 2px;
top: 20px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 30px;

text-align: center;

color: #161616;
}

.entrar p{
position: absolute;
width: 194px;
height: 30px;
left: 2px;
top: 20px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 125.9%;
/* or 30px */

text-align: center;

color: #FFFFFF;
}

button{
    display: block;
    border-radius: 10px;
}
/* POSIÇAO DA HEADER */
header {
    position: absolute;
    width: 126px;
    height: 50px;
    left: 10px;
    top: 24px;
}

/* BOTÃO DE LOGIN */
button {
    position: absolute;
    width: 292px;
    height: 50px;
    left: 977.68px;
    top: 24px;
    background-color: #252525;
    border: #FFFFFF;

}

/* LOGIN TEXTO */
.login {
    position: absolute;
    width: 81.65px;
    height: 30px;
    left: 108px;
    top: 3px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40PX;
    color: #FFFFFF;
}

.login a {
    text-decoration: none;
    color: #FFFFFF;
}

.login a:link {
    color: #FFFFFF;
}

/* TÍTULO DA PÁGINA */
.titulo {
    position: absolute;
    width: 351px;
    height: 50px;
    left: 10px;
    top: 24px;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: #000000;
}

/* INÍCIO DA NAV */
nav {
    position: absolute;
    width: 1260px;
    height: 55px;
    left: 10px;
    top: 94px;
}

/* MENU */
nav p {
    position: absolute;
    width: 61px;
    height: 30px;
    left: 609px;
    top: 10px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;

    text-align: center;

    color: #000000;
}

/* RETÂNGULO DO MENU */
.menu {
    box-sizing: border-box;

    position: absolute;
    width: 1260px;
    height: 55px;
    left: 10px;
    top: 25px;

    background: #FFFFFF;
    border-width: 1px 0px;
    border-style: solid;
    border-color: #000000;
}

main {
    position: absolute;
    width: 1260px;
    height: 1210px;
    left: 10px;
    top: 23px;
}

/* INTERAÇÕES DA PRIMEIRA IMAGEM */
.f1 {
    position: absolute;
    width: 727px;
    height: 295px;
    left: 10px;
    top: 155px;
}

/* AJUSTE DOS ICONS FA F1 */
.interacao1 {
    position: absolute;
    width: 193px;
    height: 61px;
    left: 10px;
    top: 389px;
    bottom: 39px;

    background: rgba(0, 0, 0, 0.62);
}


/* ÍCONE DO LIKE DA F1 */
.like1 {
    position: absolute;
    left: 2.63%;
    right: 62.11%;
    top: 6.5px;
    bottom: 25%;
}

.vector1 {
    position: absolute;
    left: 2.63%;
    right: 81.58%;
    top: 25%;
    bottom: 25%
}

.lik {
    position: absolute;
    left: 58.42%;
    right: 62.11%;
    top: 25%;
    bottom: 25%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;

    color: #FFFFFF;

}

/* ÍCONE DE COMENTÁRIO DA F1 */
.comentario {
    position: absolute;
    left: 58.42%;
    right: 6.32%;
    top: 6.5px;
    bottom: 23.33%;
}

.comentario img {
    position: absolute;
    left: 2.43%;
    right: 25.79%;
    top: 26.67%;
    bottom: 23.33%;

}

.comentario1 p {
    position: absolute;
    left: 58.42%;
    right: 64px;
    top: 25%;
    bottom: 25%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;

    color: #FFFFFF;
}

/* INTERAÇÃO DA F2 */

.f2 {
    position: absolute;
    width: 515px;
    height: 600px;
    left: 755px;
    top: 155px;
}

.interacao2 {
    position: absolute;
    width: 193px;
    height: 61px;
    left: 755px;
    top: 694px;

    background: rgba(0, 0, 0, 0.62);
}

.like2 {
    position: absolute;
    left: 2.63%;
    right: 62.11%;
    top: 6.5px;
    bottom: 25%;
}

.vector2 {
    position: absolute;
    left: 2.63%;
    right: 81.58%;
    top: 25%;
    bottom: 25%;
}

/* quantidade de like */
.lik2 {
    position: absolute;
    left: 58.42%;
    right: 62.11%;
    top: 25%;
    bottom: 25%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;

    color: #FFFFFF;
}

/* SÍMBOLO DO COMENTÁRIO */
.comentario2 {
    position: absolute;
    left: 58.42%;
    right: 6.32%;
    top: 6.5px;
    bottom: 23.33%;
}

/* COMENTÁRIOS */
.comentario02 img {
    position: absolute;
    left: 2.43%;
    right: 25.79%;
    top: 26.67%;
    bottom: 23.33%;
}

/* QUANTIDADE DE COMENTARIOS */
.comentario02 p {
    position: absolute;
    left: 58.42%;
    right: 64px;
    top: 25%;
    bottom: 25%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;

    color: #FFFFFF;
}

/*INÍCIO DA INTERAÇÃO 3 */
.f3 {
    position: absolute;
    width: 353px;
    height: 295px;
    left: 10px;
    top: 460px;
}

.interacao3 {
    position: absolute;
    width: 193px;
    height: 61px;
    left: 10px;
    top: 694px;

    background: rgba(0, 0, 0, 0.62)
}

/* LIKE:POSIÇÃO */
.like3 {

    position: absolute;
    left: 2.63%;
    right: 62.11%;
    top: 6.5px;
    bottom: 25%;

}

.vector3 {
    position: absolute;
    left: 2.63%;
    right: 81.58%;
    top: 25%;
    bottom: 25%;
}

/* QUANTIDADE DE LIKES */
.lik3 {
    position: absolute;
    left: 58.42%;
    right: 62.11%;
    top: 25%;
    bottom: 25%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;

    color: #FFFFFF;
}

.comentario3 {
    position: absolute;
    left: 58.42%;
    right: 6.32%;
    top: 6.5px;
    bottom: 23.33%;
}

.comentario03 {
    position: absolute;
    left: 2.63%;
    right: 25.79%;
    top: 26.67%;
    bottom: 23.33%;
}

.comentario03 p {
    position: absolute;
    left: 79.47%;
    right: 62.11%;
    top: 1px;
    bottom: 25%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 125.9%;
    /* identical to box height, or 30px */


    color: #FFFFFF;

}

/*  FIM DA INTERAÇÃO 3*/

/* INÍCIO DA INTERAÇÃO 4 */
.f4 {
    position: absolute;
    width: 354px;
    height: 296px;
    left: 383px;
    top: 460px;
}

/* INTERAÇÕES DA F4 */
.interacao4 {
    position: absolute;
    width: 193px;
    height: 61px;
    left: 383px;
    top: 695px;

    background: rgba(0, 0, 0, 0.62);
}

.like4 {
    position: absolute;
    left: 2.63%;
    right: 62.11%;
    top: 7px;
    bottom: 25%;
}

.vector4 {
    position: absolute;
    left: 2.63%;
    right: 81.58%;
    top: 25%;
    bottom: 25%;
}

.lik4 {
    position: absolute;
    left: 58.42%;
    right: 62.11%;
    top: 10px;
    bottom: 25%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;

    color: #FFFFFF;
}

/* COMENTÁRIOS */

.comentario04 {
    position: absolute;
    left: 58.42%;
    right: 6.32%;
    top: 30%;
    bottom: 23.33%;

}

.interacao4 p {
    position: absolute;
    left: 79.47%;
    right: 6.32%;
    top: 30%;
    bottom: 25%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;

    color: #FFFFFF;
}

/* FIM DA INTEREAÇÃO 4 */

/* INÍCIO DA INTERAÇÃO 5 */
.f5 {
    position: absolute;
    width: 515px;
    height: 600px;
    left: 10px;
    top: 765px;
}

.interacao5 {
    position: absolute;
    width: 193px;
    height: 61px;
    left: 10px;
    top: 1304px;

    background-color: rgba(0, 0, 0, 0.62);
}

/* POSIÇÃO DO LIKE 5- início*/
.like5 {
    position: absolute;
    left: 2.63%;
    right: 62.11%;
    top: 25%;
    bottom: 25%;
}

.lik5 {
    position: absolute;
    left: 58.42%;
    right: 62.11%;
    top: 1px;
    bottom: 25%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 125.9%;

    color: #FFFFFF;
}

/* POSIÇÃO DO LIKE 5-final */

/* POSIÇÃO DO COMENTÁRIO 5-início */
.comentario5 {
    position: absolute;
    left: 58.42%;
    right: 25.79%;
    top: 26.67%;
    bottom: 23.33%;

}

.comentario-5 {
    position: absolute;
    left: 43px;
    right: 6.32%;
    top: 1px;
    bottom: 25%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;

    color: #FFFFFF;
}

/* FIM DOS COMENTÁRIOS DA INTERAÇÃO 5 */

/* FIM DA INTERAÇÃO 5 */

/* INÍCIO DA INTERAÇÃO 6 */

/* POSIÇÃO DA IMAGEM */
.f6 {
    position: absolute;
    width: 727px;
    height: 295px;
    left: 543px;
    top: 765px;
}

/* POSIÇÃO DA INTERAÇÃO */
.interacao6 {
    position: absolute;
    width: 193px;
    height: 61px;
    left: 543px;
    top: 999px;

    background-color: rgba(0, 0, 0, 0.62);
}

/* LIKE */
.like6 {
    position: absolute;
    left: 2.63%;
    right: 62.11%;
    top: 6.5px;
    bottom: 25%;

}

.vector6 {
    position: absolute;
    left: 2.63%;
    right: 62.11%;
    top: 25%;
    bottom: 25%;
}

.lik6 {
    position: absolute;
    left: 58.42%;
    right: 62.11%;
    top: 30%;
    bottom: 25%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;

    color: #FFFFFF;
}

/* FIM DO LIKE */

/* INÍCIO DOS COMENTÁRIOS */
.comentario6 {
    position: absolute;
    left: 58.42%;
    right: 6.32%;
    top: 16px;
    bottom: 23.33%;
}

.comentario-6 {
    position: absolute;
    left: 43px;
    right: 6.32%;
    top: 3px;
    bottom: 25%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;

    color: #FFFFFF;
}

/* FIM DOS COMENTÁRIOS */
/* FIM DA INTERAÇÃO 6 */

/* INÍCIO DA INTERAÇÃO 7 */

/* POSIÇÃO DA IMAGEM 7 */
.f7 {
    position: absolute;
    width: 354px;
    height: 295px;
    left: 543px;
    top: 1070px;
}

.interacao7 {
    position: absolute;
    width: 193px;
    height: 61px;
    left: 543px;
    top: 1304px;

    background-color: rgba(0, 0, 0, 0.62);
}

/* LIKE 7 */
.vector7 {
    position: absolute;
    left: 2.63%;
    right: 62.11%;
    top: 25%;
    bottom: 25%;
}

.lik7 {
    position: absolute;
    left: 23.68%;
    right: 62.11%;
    top: 29%;
    bottom: 25%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;

    color: #FFFFFF;
}

/* FIM DO LIKE 7*/

/* COMENTÁRIO 7 */
.comentario7 {
    position: absolute;
    left: 58.42%;
    right: 6.32%;
    top: 25%;
    bottom: 23.33%;

}

.comentario-7 {
    position: absolute;
    left: 43px;
    right: 6.32%;
    top: 3px;
    bottom: 25%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;

    color: #FFFFFF;
}

/* FIM DO COMENTÁRIO 7 */

/* FIM DA INTERAÇÃO 7 */

/* INÍCIO DA INTERAÇÃO 8 */
/* POSICIONAMENTO DA IMAGEM 8 */
.f8 {
    position: absolute;
    width: 354px;
    height: 295px;
    left: 916px;
    top: 1070px;
}

.interacao8 {
    position: absolute;
    width: 193px;
    height: 61px;
    left: 916px;
    top: 1304px;

    background-color: rgba(0, 0, 0, 0.62);
}

/* LIKE 8 */
.vector8 {
    position: absolute;
    left: 2.63%;
    right: 62.11%;
    top: 27%;
    bottom: 25%;
}

.lik8 {
    position: absolute;
    left: 23.68%;
    right: 62.11%;
    top: 27%;
    bottom: 25%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;

    color: #FFFFFF;
}

/* FIM DO LIKE 8 */

/* INÍCIO DO COMENTÁRIO 8 */
.comentario8 {
    position: absolute;
    left: 58.42%;
    right: 6.32%;
    top: 25%;
    bottom: 23.33%;
}

.comentario-8 {
    position: absolute;
    left: 43px;
    right: 6.32%;
    top: 2px;
    bottom: 25%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;

    color: #FFFFFF;

}

/* FIM SO COMENTÁRIO 8 */
/* FIM DA INTERAÇÃO 8 */

/* FOOTER */
footer {
    position: absolute;
    width: 1340px;
    height: 380px;
    left: 0px;
    top: 1375px;

    position: absolute;
    width: 1280px;
    height: 228px;
    left: 10px;
    top: 1402px;

    background: #161616;

}

/* ICONS */
.rede-social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 56px;

    position: absolute;
    width: 368px;
    height: 50px;
    left: 468px;
    top: 100px;


}

.youtube {
    width: 50px;
    height: 50px;
}

.twitter {
    width: 50px;
    height: 50px;
}

.tiktok {
    width: 50px;
    height: 40px;
}

.instagraam {
    width: 50px;
    height: 50px;
}

footer p {
    position: absolute;
    width: 182px;
    height: 50px;
    left: 1098px;
    top: 117px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;

    color: #FFFFFF;
}

.fotografia {
    position: absolute;
    width: 213px;
    height: 100px;
    left: 10px;
    top: 77px;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;

    color: #FFFFFF;
}